<h1>birthday app</h1>
<form action="/action" method="post">
  <p>
    Enter your name:
    <label for="name">
      <input type="text" name="Name">
    </label>
  </p>
  <p>
    <label for="month">
      Enter your birth month in MM:
      <input type="text" name="Month">
    </label>
  </p>
  <p>
    <label for="day">
      Enter your birth day in DD:
      <input type="text" name="Day">
    </label>
  </p>
  <input type="submit" value="Submit">
</form>
